PORT=8787
LICENSE_ADMIN_TOKEN=cambia_este_token_largo
PUBLIC_LICENSE_SERVER_URL=http://127.0.0.1:8787
DB_FILE=./licenses-db.json
DATABASE_URL=
DATABASE_SSL=true
NODE_ENV=development
PRIVATE_KEY_FILE=./private_key.pem
PUBLIC_KEY_FILE=./public_key.pem

# Para la app Electron en desarrollo:
# GW_LICENSE_SERVER_URL=http://127.0.0.1:8787
# GW_LICENSE_PUBLIC_KEY_FILE=/ruta/absoluta/public_key.pem
